@model IEnumerable<DEMO.Models.Nhanvien>

@{
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <p>
        <i class="fa fa-plus" aria-hidden="true"></i><a asp-action="Create">Thêm nhân viên</a>
    </p>
    <style>
        table th {
            background: #333333 !important;
            color: #fff;
            text-transform: uppercase;
        }
    </style>


    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2 style="color:#333333;">Danh sách nhân viên</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>SĐT</th>
                        <th>Ngày vào làm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diachi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sdt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                             
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
  
</body>
</html>
