@model WebApplication1.Models.Hoadon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2 style="color:#333333;">Xóa đơn hàng</h2>
<h3 style="color:#333333;">Bạn chắc có muốn xóa đơn hàng không ?</h3>
<div class="agile-tables">
    <div class="w3l-table-info">
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            Mã đơn hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mahd)
        </dd>
        <dt class="col-sm-2">
            Mã khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdkhNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngayhd)
        </dd>
        <dt class="col-sm-2">
            Tổng tiền
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt class="col-sm-2">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class="col-sm-2">
            Tình trạng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

    </dl>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Mahd" />
            <input type="submit" value="Delete" />
        </form>
        <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to list</a>
    </div>

</div>
      