@model IEnumerable<WebApplication1.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}


<style>
    table th {
        background: #333333 !important;
        color: #fff;
        text-transform: uppercase;
    }
</style>


<div class="agile-tables">
    <div class="w3l-table-info">
    <h2  style="color:#333333;">Danh sách đơn hàng</h2>        
        <table id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Họ và tên</th>
                    <th> Địa chỉ</th>
                    <th>SĐT</th>
                    <th>Tổng tiền</th>
                    <th>Tình trạng</th>
                    <th>Chi tiết </th>
                    <th>Xuất đơn hàng</th>
                   @* <th>Xử lý đơn hàng</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Mahd)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IdkhNavigation.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdkhNavigation.Diachi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdkhNavigation.Sdt)
                    </td>

                    <td>

                        @String.Format("{0:N0}", item.Tongtien)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.Tinhtrang)
                    </td>
                    <td>
                        <a asp-controller="Chitiethoadons" asp-action="Index" asp-route-id="@item.Mahd">Chi tiết</a>
                    </td>
                    <td>
                        <a asp-controller="ExportToPDF" asp-action="ExportToPDF" asp-route-id="@item.Mahd">PDF</a>

                    </td>
                    @*<td>
                        <a asp-controller="Hoadons" asp-action="XuLy" asp-route-id="@item.Mahd">Xử lý</a>

                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Mahd"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Mahd"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

