@model IEnumerable<WebApplication1.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}


<div style="text-align: center"><h2 style="background: #c6d9f1">DANH SÁCH ĐƠN HÀNG</h2></div>
<p>
    <a asp-action="Create">Tạo Hóa Đơn</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mahd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhNavigation.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhNavigation.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhNavigation.Sdt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tongtien)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tinhtrang)
            </th>
            <th>
                Chi tiết đơn hàng
            </th>
            <th>
                Xuất đơn hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Mahd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdkhNavigation.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdkhNavigation.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdkhNavigation.Sdt)
                </td>

                <td>

                    @String.Format("{0:N0}", item.Tongtien)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                </td>
                <td>
                    <a asp-controller="Chitiethoadons" asp-action="Index" asp-route-id="@item.Mahd">Chi tiết</a>
                </td>
                <td>
                    <a  asp-controller="Chitiethoadons" asp-action="PDF" asp-route-id="@item.Mahd">PDF</a>

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Mahd">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Mahd">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Mahd">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
