@model IEnumerable<WebApplication1.Models.Sanpham>

@{
    ViewData["Title"] = "NhaSanXuatAD";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <i class="fa fa-plus" aria-hidden="true"></i><a asp-action="Create">Thêm sản phẩm</a>
    </p>
    <style>
        table th {
            background: #333333 !important;
            color: #fff;
            text-transform: uppercase;
        }
    </style>


    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2 style="color:#333333;">Danh sách sản phẩm</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Giá khuyến mãi</th>
                        <th>Hình ảnh</th>
                        <th>NSX</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Masp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tensp)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Mota)
                                </td>*@

                            <td>

                                @String.Format("{0:N0}", item.Gia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Giakhuyenmai)
                            </td>
                            <td>
                                <img style="width: 100px;height: 120px;" src="@item.Anhdaidien" alt="">

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.HangNavigation.Tenhang)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Masp"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Masp"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
